.dropdown-toggle::after {
    color: white;
}
.dropdown-toggle {
    color: white;
}

/* .text-light {
    background-color: #cfc7c7 !important;

} */
.dropdown-menu {
    background-color: #cfc7c7 !important;

}