.place-item {
    list-style: none;
    max-width: 100%;
    max-height: 60%;
    
  }
  
  .place-item__content {
    padding: 0;
  }
  
  .place-item__info {
    padding: 1rem;
    text-align: center;
  }
  
  .place-item__image {
    width: 90%;
    height: 60%;
    margin: auto;
    margin-top: 2.5rem;
    border: black solid 2px;
  }
  
  .place-item__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .place-item__info h2,
  .place-item__info h3,
  .place-item__info p {
    margin: 0 0 0.5rem 0;
  }
  
  .place-item__actions {
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #ccc;
  }
  
  .place-item__modal-content {
    padding: 0;
  }
  
  .place-item__modal-actions {
    text-align: right;
  }
  
  .place-item__actions button,
  .place-item__actions a {
    margin: 0.5rem;
  }
  
  .map-container {
    height: 15rem;
    width: 100%;
  }

  .map-container{
    margin: 1rem;
    height: 20rem;
    width: auto;
  }
  
  @media (min-width: 768px) {
    .place-item__image {
      height: 20rem;
    } 
  }

  .modal-header{
    background: #333333;
    color: white;
    border: black 1px solid;
    margin-bottom: .15rem;
  }
  .modal-body{
    background: #333333;
    color: white;
    border: black 1px solid;

  }